clone_depth: 1
version: '{build}'
skip_tags: true
image: Visual Studio 2017
configuration: Debug
cache:
  - C:\ProgramData\chocolatey\bin -> appveyor.yml
  - C:\ProgramData\chocolatey\lib -> appveyor.yml
install:
  - cmd: git submodule update --init --recursive
  - cmd: choco install resharper-clt -y
  - cmd: choco install nvika -y
  - cmd: dotnet tool install CodeFileSanity --version 0.0.16 --global
before_build:
  - cmd: CodeFileSanity
  - cmd: nuget restore
build:
  project: osu-framework.sln
  parallel: true
  verbosity: minimal
test_script:
  cmd: dotnet test "C:\projects\osu-framework\osu.Framework.Tests\osu.Framework.Tests.csproj"
       --configuration Debug --no-build --test-adapter-path:. --logger:Appveyor
       --filter ClassName!=osu.Framework.Tests.Visual.TestCaseWaveform
artifacts:
  - path: osu.Framework/bin/Debug/*.nupkg
  - path: inspectcodereport.xml
on_failure:
  - cmd: appveyor PushArtifact osu.Framework.Tests/bin/Debug/netcoreapp2.1/test.out
  - cmd: appveyor PushArtifact osu.Framework.Tests/Resources/Tracks/sample-track.mp3
